#splash-screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;

    &.ng-leave {
        opacity: 1;
        transition: all linear 200ms;
    }

    &.ng-leave-active {
        opacity: 0;
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        margin: 0 auto;
        background-image: url(../assets/images/logos/logo-vertical-120x200.png);
        width: 120px;
        height: 200px;
        background-repeat: no-repeat;
    }
}
